// Navigation
.navbar {
  background: #fff;

  .navbar-brand {
    .navbar-logo {
      height: 35px;
      width: 35px;
    }

    .text-logo {
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      font-size: 0.8em;
      letter-spacing: 0.25rem;
      color: $primary-color;
      text-transform: uppercase;
    }
  }

  .nav-item {
    .nav-link {
      font-size: 0.95em;
      color: #000;
      text-transform: uppercase;
      padding-right: 1em !important;
      padding-left: 1em !important;
      letter-spacing: 0.1em;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }

    }
  }
}