/*
*Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');

/*
*Components
*/
@import 'variables';
@import 'config';
@import 'navbar';
@import 'parallax';

/*
* Theme
*/

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.95em;
  line-height: 1.5;
  color: #000;
  margin: 0;
  padding: 0;
}

// Headings
h1,
h2,
h3 {
  &.title {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
  }

  &.sub-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
}